/* ----------------------------------- */
/* Google Font */
/* ----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap");

/* ----------------------------------- */
/* General Styles */
/* ----------------------------------- */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1.75 'Cabin', Sans-Serif;
  color: #102a43;
  background-color: #f0f4f8;
}